
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
    padding: 20px;
    width: 100%;
    min-width: 100px;
    max-height: 400px;
    background-color: white;
    z-index: 1;
}
.product__rating{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin: 20px 0 0 15px;

}
.product > image {
    max-height: 0px;
    width: 100%;
    object-fit: contain;
    margin: 20px 0 0 15px;

}
.product > button{
    background:#ff9f00;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;

}
.product__price{
    margin-top: 2px;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;

}
.product-image{
    max-width: 50%;
    max-height: 50%;
}